.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

td {
  width: 5cm;
  height: 0.7cm;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  width: 3cm;
}

Button {
  font-weight: bold;
  width: 2cm;
  padding: 0.1cm;
  margin: 0.3cm;
  background-color: lightgray;
}

.header {
  font-weight: bold;
  font-size: larger;
}

.popup {
  position: absolute;
  left: 30%;
  top: 30%;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  width: 20vw;
  padding: 20px;
}

.personform {
  padding: 20px;
}