.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  margin-left: 50px; 
}

td {
  width: 5cm;
  height: 0.7cm;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  width: 3cm;
}

Button {
  display: inline;
  font-weight: bold;
  width: 2cm;
  padding: 0.1cm;
  margin: 0.3cm;
  background-color: lightgray;
}

.header {
  font-weight: bold;
  font-size: larger;
}

.popup {
  position: absolute;
  left: 40%;
  top: 40%;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px;
}

.personform {
  margin-left: 40%;
  padding: 20px;
}


.sorting {
  margin-left: 40%;
  padding-bottom: 50px;
}

.inlineButtons {
  display: inline;
}

table {
  margin-left: 10%;
  margin-right: 10%;
}